<extend name="Public/layout" />
<block name="head">

</block>
<block name="main">
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		    <div class="header">
                        <h1 class="page-header">
                            Without Permissions <small>Contact The Admin.</small>
                        </h1>
									
		    </div>
            <div id="page-inner"> 
			
			    <div class="row">
                    
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-action">
                                Without Permissions
                            </div>
                             <div class="card-content">
                                <p>When there is no controller, or when there is no method, you will jump to this page.</p>
                                 <p>Author:Reload</p>
                                 <p>Time:2018/7/16</p>
                               <div class="clearBoth"><br/></div>

                             </div>
                        </div>
									

				    </div>

                </div>

            </div>
        </div>
</block>
<block name="js">

</block>