<extend name="Public/layout" />
<block name="head">

</block>
<block name="main">
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-action">
                                添加用户
                            </div>
                            <div class="card-content">
                                <form id="myForm" class="col s12"  action="" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            姓名:<input id="name" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            昵称:<input id="nickname" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            密码:<input id="password" type="password" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            性别:
                                            <p>
                                                <input name="gender" type="radio" value="1" id="test1" />
                                                <label for="test1">男</label>
                                            </p>
                                            <p>
                                                <input name="gender" type="radio" value="2" id="test2" />
                                                <label for="test2">女</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            民族:<input id="national" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="select-field col s6">
                                            角色:<select class="form-control" id="depart">
                                                <option value="">选择角色</option>
                                                <foreach name="depart" item="v">
                                                <option value="{$v.id}">{$v['depart']}</option>
                                                </foreach>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            职位:<input id="position" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="select-field col s6">
                                            员工关系:<select class="form-control" id="relation">
                                            <option value="">选择</option>
                                            <option value="全日制合同工">全日制合同工</option>
                                            <option value="非全日制合同工">非全日制合同工</option>
                                            <option value="实习生">实习生</option>
                                            <option value="暑假工">暑假工</option>
                                            <option value="劳务派遣">劳务派遣</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="select-field col s6">
                                            员工级别:<select class="form-control" id="level">
                                            <option value="">选择级别</option>
                                            <foreach name="levels" item="v">
                                                <option value="{$v.id}">{$v['level']}级</option>
                                            </foreach>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            手机号:<input id="phone" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            邮箱:<input id="email" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            住址:<input id="address" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            学历:<input id="school" type="text" class="validate">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">

                                                        <div id="img">
                                                            <img id="pic" src="" width="200px;">
                                                        </div>
                                                        <input id="myfile" type="file" multiple=""/>


                                        </div>
                                    </div>

                                    <div class="btn " role="group" aria-label="..." onclick="add()">
                                        提交

                                    </div>
                                </form>
                                <div class="clearBoth"></div>
                            </div>
                        </div>
                    </div>
                 </div>

            </div>
             <!-- /. PAGE INNER  -->
        </div>


</block>
<block name="js">
    <script type="text/javascript" src="__PUBLIC__common/js/jquery.md5.js"></script>
    <script src="__PUBLIC__assets/js/filereader.js"></script>
    <script>
        $('#myfile').filereader({
            type:['jpg','jpeg','png'],
            max_size:1024,
            preview:$('#img'),
            success:function(){},
            preview_attr:{id:'pic', height:'200px'}
        });
    </script>
    <script type="text/javascript">
        function add() {
            var name = $("#name").val();
            var nickname = $("#nickname").val();
            var gender = $('input[name="gender"]:checked').val();
            var national = $("#national").val();
            var position = $("#position").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var address = $("#address").val();
            var school = $("#school").val();
            var depart = $("#depart").val();
            var relation = $("#relation").val();
            var password = $("#password").val();
            var levels = $("#level").val();
            //console.log(relation);return

            var pic = $("#pic").attr('src');
            //console.log(pic);return
            if(!name) {
                layer.msg("姓名不能为空");return;
            }
            if(!phone) {
                layer.msg("手机号不能为空");return;
            }
            if(!password) {
                layer.msg("密码不能为空");return;
            }
            password = $.md5(password);
            /*if(!depart) {
                layer.msg("部门不能为空");return;
            }*/
            var data = {name:name,nickname:nickname,password:password,gender:gender,national:national,position:position,phone:phone,email:email,address:address,school:school,pic:pic,depart:depart,relation:relation,level_id:levels};
            $.post("{:U('User/addUser')}",data,function(res) {
                if(res.err==1) {

                    location.href="{:U('User/index')}";
                } else {
                    layer.msg(res.msg);
                }
            });
        }
    </script>
</block>