<extend name="Public/layout" />
<block name="head">

</block>
<block name="main">
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >

            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-action">
                                用户详情
                            </div>
                            <div class="card-content">
                                    <div class="row">
                                            <div class="input-field col s6">
                                                姓名:<input id="name" type="text" class="validate" value="{$info.name}" style="width: 80px;">
                                                昵称:<input id="nickname" type="text" class="validate" value="{$info.nickname}" style="width: 80px;">
                                                性别:<input id="gender" type="text" class="validate" {if $info.gender == 1} value='男' {else} value='女' {/if} style="width: 20px;">
                                                部门:<input id="department" type="text" class="validate" value="{$department.name}" style="width: 100px;">
                                                角色:<input id="depart" type="text" class="validate" value="{$depart.depart}" style="width: 100px;">
                                                职位:<input id="position" type="text" class="validate" value="{$info.position}" style="width: 100px;">
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            民族:<input id="national" type="text" class="validate" value="{$info.national}" style="width: 80px;">
                                            年龄:<input id="age" type="text" class="validate" value="{$info.age}" style="width: 80px;">
                                            出生年月:<input id="born" type="text" class="validate" value="{$info.born}" style="width: 100px;">
                                            政治面貌:<input id="political" type="text" class="validate" value="{$info.political}"  style="width: 80px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            籍贯:<input id="native_place" type="text" class="validate" value="{$info.native_place}" style="width: 80px;">
                                            户口所在地:<input id="registered_residence" type="text" class="validate" value="{$info.registered_residence}"  style="width: 150px;">
                                            身份证:<input id="idcard" type="text" class="validate" value="{$info.idcard}" style="width: 200px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            学历:<input id="school" type="text" class="validate" value="{$info.school}" style="width: 80px;">
                                            专业:<input id="professional" type="text" class="validate" value="{$info.professional}"  style="width: 150px;">
                                            毕业院校:<input id="graduation" type="text" class="validate" value="{$info.graduation}"  style="width: 150px;">
                                            证书:<input id="certificate" type="text" class="validate" value="{$info.certificate}"  style="width: 150px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            入职时间:<input id="induction_time" type="text" class="validate" value="{$info.induction_time}"  style="width: 100px;">
                                            转正日期:<input id="positive" type="text" class="validate" value="{$info.positive}"  style="width: 100px;">
                                            工龄:<input id="work_year" type="text" class="validate" value="{$info.work_year}"  style="width: 40px;">
                                            工号:<input id="work_number" type="text" class="validate" value="{$info.work_number}"  style="width: 80px;">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            手机号:<input id="phone" type="text" class="validate" value="{$info.phone}"  style="width: 100px;">
                                            邮箱:<input id="email" type="text" class="validate" value="{$info.email}"  style="width: 100px;">
                                            婚姻状况:<input id="married" type="text" class="validate" value="{$info.married}"  style="width: 40px;">
                                            紧急联系人:<input id="emergency_contact" type="text" class="validate" value="{$info.emergency_contact}"  style="width: 200px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            银行账号:<input id="bank_card" type="text" class="validate" value="{$info.bank_card}"  style="width: 200px;">
                                            工资银行卡名称:<input id="bank_name" type="text" class="validate" value="{$info.bank_name}"  style="width: 200px;">
                                        </div>
                                        <div class="input-field col s6">
                                            社保账号:<input id="social_security" type="text" class="validate" value="{$info.social_security}"  style="width: 200px;">
                                            公积金账号:<input id="accumulation_fund" type="text" class="validate" value="{$info.accumulation_fund}"  style="width: 200px;">
                                        </div>
                                        <div class="input-field col s6">
                                            担保情况:<input id="guarantee" type="text" class="validate" value="{$info.guarantee}"  style="width: 200px;">
                                            意外保险购保日期:<input id="accident_insurance_time" type="text" class="validate" value="{$info.accident_insurance_time}"  style="width: 200px;">
                                        </div>
                                        <div class="input-field col s6">
                                            社保购买日期:<input id="social_security_time" type="text" class="validate" value="{$info.social_security_time}"  style="width: 200px;">
                                            公积金购买日期:<input id="accumulation_fund_time" type="text" class="validate" value="{$info.accumulation_fund_time}"  style="width: 200px;">
                                        </div>
                                        <div class="input-field col s6">
                                            保密协议签订日期:<input id="confidentiality_agreement_time" type="text" class="validate" value="{$info.confidentiality_agreement_time}"  style="width: 200px;">
                                            劳动合同期限:<input id="labor_contract_limit" type="text" class="validate"  value="{$info.labor_contract_limit}" style="width: 200px;">
                                        </div>
                                        <div class="input-field col s6">
                                            劳动合同签发日期:<input id="labor_contract_time" type="text" class="validate" value="{$info.labor_contract_time}"  style="width: 200px;">
                                            劳动合同截止日期:<input id="labor_contract_finishtime" type="text" class="validate" value="{$info.labor_contract_finishtime}"  style="width: 200px;">
                                        </div>
                                        <div class="input-field col s6">
                                            原部门/项目:<input id="original_depart_pro" type="text" class="validate" value="{$info.original_depart_pro}"  style="width: 400px;">
                                            调入时间:<input id="callin" type="text" class="validate" value="{$info.callin}"  style="width: 200px;">
                                        </div>
                                        <div class="input-field col s6">
                                            离职日期:<input id="departure_time" type="text" class="validate" value="{$info.departure_time}"  style="width: 200px;">
                                            离职原因:<input id="departure_why" type="text" class="validate" value="{$info.departure_why}"  style="width: 400px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="select-field col s12">
                                            员工关系:<input id="relation" type="text" class="validate" value="{$info.relation}"  style="width: 100px;">
                                            员工级别:<input id="levels" type="text" class="validate" value="{$levels['level']}"  style="width: 50px;">
                                            可查看项目:<input id="project" type="text" class="validate" value="{$projects}"  style="width: 500px;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            备注:<textarea id="note" class="materialize-textarea">{$info.note}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            员工图片：
                                            <div id="img">
                                                <img id="pic" src="{$info.pic}" width="200px;" pod="0">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="btn " role="group" aria-label="..." onclick="javascript:history.back(-1);">
                                        返回上层
                                    </div>
                                <div class="clearBoth"></div>
                        </div>
                            </div>
                    </div>
                </div>
            </div>

             <!-- /. PAGE INNER  -->
        </div>


</block>
<block name="js">
    <script src="__PUBLIC__assets/js/filereader.js"></script>
    <script>
        $('#myfile').filereader({
            type:['jpg','jpeg','png'],
            max_size:1024,
            preview:$('#img'),
            success:function(){},
            preview_attr:{id:'pic', height:'200px'}
        });

        function checkPod() {
            $("#pic").attr("pod","1");
        }
    </script>
</block>