# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xml
App/Runtime/Cache/Home
App/Runtime/Logs/Common
App/Runtime/Logs/Home
out
gen
