<extend name="Public/layout" />
<block name="head">

</block>
<block name="main">
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-action">
                                添加管理员
                            </div>
                            <div class="card-content">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            姓名:<input id="username" type="text" class="validate">
                                            <!--<label for="username">姓名</label>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            昵称:<input id="nickname" type="text" class="validate">
                                            <!--<label for="nickname">昵称</label>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            密码:<input id="password" type="password" class="validate">
                                            <!--<label for="password">密码</label>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            手机号:<input id="phone" type="text" class="validate">
                                            <!--<label for="phone">手机号</label>-->
                                        </div>
                                    </div>
                                    <div class="btn " role="group" aria-label="..." onclick="addMaster()">
                                        提交

                                    </div>
                                </form>
                                <div class="clearBoth"></div>
                            </div>
                        </div>
                    </div>
                 </div>

            </div>
             <!-- /. PAGE INNER  -->
        </div>


</block>
<block name="js">

    <script type="text/javascript">
        function addMaster() {
            var username = $("#username").val();
            var nickname = $("#nickname").val();
            var password = $("#password").val();
            var phone = $("#phone").val();
            if(!username) {
                layer.msg("姓名不能为空");return;
            }
            if(!password) {
                layer.msg("密码不能为空");return;
            }
            $.post("{:U('Master/add_master')}",{username:username,nickname:nickname,password:password,phone:phone},function(res) {
                if(res.err==1) {

                    location.href="{:U('Master/index')}";
                }
            });
        }
    </script>
</block>