<extend name="Public/layout" />
<block name="head">

</block>
<block name="main">
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		
            <div id="page-inner"> 
               
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="card">
                            <div class="card-action">
                                规则列表
                                <a  href="{:U('Rules/addRules')}"  style="margin-left: 10px;">
                                    <div class="btn " role="group" aria-label="..." >
                                    添加规则

                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>#id</th>
                                                <th>规则名称</th>
                                                <th>规则地址</th>
                                                <th>添加时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <foreach name="data" item="v">
                                                <tr class="odd gradeX">
                                                    <td>{$v['id']}</td>
                                                    <td>{$v['rules']}</td>
                                                    <td>{$v['url']}</td>
                                                    <td>{$v['add_time']}</td>
                                                    <td>
                                                        <div class="btn " role="group" aria-label="..." >
                                                            <a  href='{:U("Rules/editRules?id=$v[id]" )}' style="color: #0D47A1;">编辑</a>
                                                        </div>
                                                        <div class="btn " role="group" aria-label="..." onclick='delRules("{$v[id]}")'>
                                                            <a  href="javascript:" style="color: #843534;">删除</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </foreach>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
            </div>
        </div>

</block>
<block name="js">
    <!-- jQuery Js -->
    <script src="__PUBLIC__assets/js/jquery-1.10.2.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="__PUBLIC__assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="__PUBLIC__assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>


    <script type="text/javascript">

        //删除
        function delRules(id) {
            layer.confirm('是否删除该规则？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post('{:U("Rules/delRules")}',{id:id},function(res) {
                    if(res.err==1) {
                        location=location;
                    } else {
                        layer.msg('删除失败', {icon: 1});
                    }
                });

            });
        }



    </script>
</block>
