<extend name="Public/layout" />
<block name="head">
    <link rel="stylesheet" href="__PUBLIC__layer/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__layer/css/laydate.css" media="all">

</block>
<block name="main">
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		
            <div id="page-inner"> 
               
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="card">
                            <div class="card-action">
                                项目信息列表
                                <a  href="{:U('Project/addProject')}" style="margin-left: 10px;">
                                    <div class="btn " role="group" aria-label="..." >
                                    添加项目信息

                                    </div>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>#id</th>
                                                <th style="width:150px;">项目名称</th>
                                                <th style="width:88px;">项目编号</th>
                                                <th style="width:100px;">项目分类</th>
                                                <th style="width:150px;">项目简介</th>
                                                <th style="width:88px;">区域经理</th>
                                                <th style="width:88px;">客户名称</th>
                                                <!-- <th>联系人</th> -->
                                                <!-- <th>联系电话</th> -->
                                                <th style="width:88px;">业务跟进</th>
                                                <th>创建人</th>
                                                <th>项目创建日期</th>
                                                <th>项目预计开始日期</th>
                                                <th>项目预计完成日期</th>
                                                <th>实际开始日期</th>
                                                <th>实际完成日期</th>
                                                <th style="width:60px;">状态</th>
                                                <th>备注</th>
                                                <!--<th>最后编辑时间</th>-->
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <foreach name="data" item="v">
                                                <tr class="odd gradeX">
                                                    <td>{$v['id']}</td>
                                                    <td onclick="selectTask({$v['id']})">{$v['name']}</td>
                                                    <td>{$v['number']}</td>
                                                    <td>{$v['cate']}</td>
                                                    <td>{$v['introduction']}</td>
                                                    <td>{$v['area_manager']}</td>
                                                    <td>{$v['customer_name']}</td>
                                                    <!-- <td>{$v['contact']}</td> -->
                                                    <!-- <td>{$v['contact_phone']}</td> -->
                                                    <td>{$v['follow']}</td>
                                                    <td>{$v['create']}</td>
                                                    <td>{$v['create_time']}</td>
                                                    <td>{$v['expected_start_time']}</td>
                                                    <td>{$v['expected_finish_time']}</td>
                                                    <td>{$v['actual_start_time']}</td>
                                                    <td>{$v['actual_finish_time']}</td>
                                                    <td>{$v['status']}</td>
                                                    <td>{$v['note']}</td>
                                                    <!--<td>{$v['update_time']}</td>-->
                                                    <td>
                                                        <div class='btn <if condition="$v.line eq 2 || $v.line eq 1">disabled</if>' role="group" aria-label="..." onclick='startUp("{$v[id]}","{$v[name]}")'>
                                                            <a  href="javascript:" style="color: #843534;"><font color="#f0ffff">启动</font></a>
                                                        </div>
                                                        <div class='btn <if condition="$v.line eq 0 || $v.line eq 2">disabled</if>' role="group" aria-label="..." onclick='ending("{$v[id]}","{$v[name]}")'>
                                                            <a  href="javascript:" style="color: #843534;"><font color="#f0ffff">结束</font></a>
                                                        </div>
                                                        <div class="btn " role="group" aria-label="..." >
                                                            <a  href='{:U("Project/editProject?id=$v[id]" )}' style="color: #0D47A1;">编辑</a>
                                                        </div>
                                                        <div class="btn " role="group" aria-label="..." onclick='delProject("{$v[id]}")'>
                                                            <a  href="javascript:" style="color: #843534;">删除</a>
                                                        </div>
                                                        <div class='btn  <if condition="$v.status eq 完结">disabled</if>' role="group" aria-label="..." onclick='checkStatus("{$v[id]}","{$v[name]}","{$v[status]}")'>
                                                            <a  href="javascript:" style="color: black;">更改状态</a>
                                                        </div>
                                                    </td>
                                                </tr>

<!--                                                 <if condition="$v['taskInfo']">
                                                       
                                                    <tr class="tr">
                                                        <td  colspan="17">
                                                        <table border="1">
                                                            <ul>
                                                                 <foreach name="v.taskInfo" item="vv">
                                                                <li> {$vv.name}</li>
                                                                 </foreach>
                                                            </ul>
                                                        </table>
                                                    </td>
                                                           
                                                    </tr>
                                                       
                                                <else/>
                                                    <tr class="tr">
                                                        <td  colspan="17">
                                                        暂无数据！
                                                        </td>
                                                    </tr>
                                                </if> -->
                                            </foreach>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
            </div>
        </div>

</block>
<block name="js">


    <script src="__PUBLIC__layer/layui.js"></script>
    <script type="text/javascript">

        //删除
        function delProject(id) {
            layer.confirm('是否删除该项目信息', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post('{:U("Project/delProject")}',{id:id},function(res) {
                    if(res.err==1) {
                        location=location;
                    } else {
                        layer.msg('删除失败', {icon: 1});
                    }
                });

            });
        }

        //启动
        function startUp(id,name) {
            var sh = '';
            sh += '<div class="layui-collapse">';
            sh += '<div class="layui-colla-item">';
            sh += '<h2 class="layui-colla-title" style="display:block; width:500px; white-space:normal;">'+name+'</h2>';
            sh += '<div class="layui-colla-content layui-show"><input type="text" class="layui-input" id="actual_start_time" style="width: 300px;" placeholder="戳我选择启动日期，不选则默认当前时间！"></div>';

            sh += '项目主管:<select class="form-control" id="director"  style="width: 300px; margin-bottom: 30px; " >';
            sh += '<option value="">选择主管</option>';
            sh += '<foreach name="director" item="v">'                              
            sh += '<option value="{$v.id}">{$v.name}</option>'                                  
            sh += '</foreach>'                              
            sh += '</select>'                         

            sh += '区域经理:<select class="form-control" id="area_manager"  style="width: 300px;" >';
            sh += '<option value="">选择主管</option>';
            sh += '<foreach name="manager" item="v">'                              
            sh += '<option value="{$v.id}">{$v.name}</option>'                                  
            sh += '</foreach>'                              
            sh += '</select>'  

            sh += '</div>';
            sh += '</div>';
            sh += '<br>';
            sh += '<br>';
            sh += '&nbsp&nbsp&nbsp&nbsp&nbsp<button onclick="subUp('+id+')" class="layui-btn layui-btn-danger" style="width: 300px; margin-top: 30px; ">确认启动</button>';

            var index=layer.open({
                type: 1,
                area: ['20%','480px'],
                title: '是否启动该项目',
                shadeClose: true,
                content: sh
            });
            layui.use('laydate', function(){
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#actual_start_time' //指定元素
                    //,type: 'datetime'
                });
            });


        }

        function subUp(id) {
            var actual_start_time = $("#actual_start_time").val();
            var director = $("#director").val();
            var area_manager = $("#area_manager").val();
            $.post("{:U('Project/startUp')}",{id:id,actual_start_time:actual_start_time,director:director,area_manager:area_manager},function(res) {
                if(res.err==1) {
                    layer.closeAll();
                    location=location;
                } else {
                    layer.msg("操作失败");
                }
            });
        }


        function ending(id,name){
            var eh = '';
            eh += '<div class="layui-collapse">';
            eh += '<div class="layui-colla-item">';
            eh += '<h2 class="layui-colla-title">'+name+'</h2>';
            eh += '<div class="layui-colla-content layui-show"><input type="text" class="layui-input" id="actual_finish_time" style="width: 300px;" placeholder="戳我选择结束日期，不选则默认当前时间！"></div>';
            eh += '</div>';
            eh += '</div>';
            eh += '<br>';
            eh += '<br>';
            eh += '&nbsp&nbsp&nbsp&nbsp&nbsp<button onclick="sub('+id+')" class="layui-btn layui-btn-danger" style="width: 300px;">确认结束</button>';

            var index=layer.open({
                type: 1,
                area: ['18%','280px'],
                title: '是否结束该项目',
                shadeClose: true,
                content: eh
                //content: ['/Home/Project/ending?id='+id,'no'],
               /* success: function(res) {
                    if(res.err==1) {
                        layer.close(index);
                    } else {
                        layer.msg("操作失败");
                    }
                }*/
            });
            layui.use('laydate', function(){
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#actual_finish_time' //指定元素
                   // ,type: 'datetime'
                });
            });


        }

        function sub(id) {
            var actual_finish_time = $("#actual_finish_time").val();
            $.post("{:U('Project/ending')}",{id:id,actual_finish_time:actual_finish_time},function(res) {
                if(res.err==1) {
                    layer.closeAll();
                    location=location;
                } else {
                    layer.msg("操作失败");
                }
            });
        }

        //更改状态
        function checkStatus(id,name,status){
            if(status=='新建') {
                status = 1;
            } else if(status=='立项') {
                status = 2;
            } else if(status=='招标') {
                status = 3;
            } else if(status=='实施') {
                status = 4;
            } else if(status=='验收') {
                status = 5;
            } else if(status=='完结') {
                status = 6;
            }
            var ch = '';
            ch += '<div class="layui-collapse">';
            ch += '<label>'+name+'</label>';
            ch += '<div class="layui-colla-item">';
            ch += '<select id="checkStatus" class="form-control" style="width: 240px;" lay-verify="required">';
            ch += '<option value="">请选择状态</option>';
            ch += '<option value="2">立项</option>';
            ch += '<option value="3">招标</option>';
            ch += '<option value="4">实施</option>';
            ch += '<option value="5">验收</option>';
            ch += '</select>';
            ch += '</div>';
            ch += '</div>';
            ch += '<br>';
            ch += '<br>';
            ch += '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button onclick="checkSt('+id+')" class="layui-btn layui-btn-danger" style="width: 150px;">更新</button>';

            var index=layer.open({
                type: 1,
                area: ['16%','230px'],
                title: '更新项目状态',
                shadeClose: true,
                content: ch
            });
        }

        function checkSt(id) {
            var status = $("#checkStatus").val();
            if(!status) {
                layer.msg("不能提交空状态");return
            }
            $.post("{:U('Project/checkStatus')}",{id:id,status:status},function(res) {
                if(res.err==1) {
                    layer.closeAll();
                    location=location;
                } else {
                    layer.msg("操作失败");
                }
            });
        }


        function selectTask(id) {
            $.post("{:U('Project/selectTask')}",{id:id},function(res) {
                    if(res.err==1) {
                        var ph = '';
                        ph += '<div class="layui-collapse">';
                        ph += '<label>'+res.project+'</label>';
                        ph += '<div class="layui-colla-item">';
                        ph += '<tr>';
                        for (v in res.data){
                            ph += '<td>'+res.data[v].name+'：'+res.data[v].finish_count+'</td><br>';
                        }
                        ph += '</tr>';
                        ph += '</div>';
                        ph += '</div>';



                        var index=layer.open({
                            type: 1,
                            area: ['18%','380px'],
                            title: '项目下的任务',
                            shadeClose: true,
                            content: ph
                        });
                    }
            });
        }


    </script>

</block>
