<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>广东亚齐信息信息录入</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script src="__PUBLIC__assets/js/jquery.min.js"></script>
     <script type="text/javascript" src="__PUBLIC__common/js/jquery.md5.js"></script>
     <script type="text/javascript" src="__PUBLIC__layer/layer.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__assets/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__layer/css/layui.css" media="all">

</head>

<body data-type="login">
<div id="page-wrapper" >

    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="text-align:center; margin-top: 100px;">
                    <div class="card-action">
                        <h3>添加完成数量</h3>
                    </div>
                    <div class="card-content">
                        <form id="myForm" class="col s12"  action="" method="post" enctype="multipart/form-data">
                            <div class="row" style="margin-top: 38px;">
                                <div class="" style="width: 520px; margin: auto;">
                                    <p style="width: 80px; float: left; margin-right: 10px; font-size: 18px;">项目名称:</p><select class="form-control"  style="width: 310px;" id="pro_num_id">
                                    <option value="">选择项目</option>
                                    <foreach name="project" item="v">
                                        <option value="{$v.id}">{$v.name}</option>
                                    </foreach>
                                </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="select-field col s6"  style="width: 520px; margin: auto;">
                                    <p style="width: 80px; float: left; font-size: 18px;">任务名称:</p>
                                    <br>
                                    <br>
                                        <foreach name="tasks" item="v">
                                            <h3 name="number" style="width: 80px; margin-top: 10px; font-size: 18px;">{$v.name}</h3>
                                            <!--<h4 style="width: 70px; float: left; margin-top: -20px; margin-left: 80px;">完成数量:</h4>-->
                                            <input name="task_num_id" id="task_num_id" type="text" style="  width: 300px; height: 30px;" >
                                        </foreach>

                                </div>
                            </div>

                            <div style="margin-top: 20px; " onclick="add()">
                                <a href="javascript:;" class="layui-btn" style="width: 180px;">提交</a>

                            </div>
                        </form>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>


    <script type="text/javascript">
        function add() {
            var pro_num_id = $("#pro_num_id").val();
            if(!pro_num_id) {
                layer.msg("项目名称不能为空");return;
            }
            var result = [];
            $("input[name='task_num_id']").each(function(i,v){
                result.push($(v).val())
            });
            var number = [];
            $('h3[name="number"]').each(function(i,v){
                number.push($(v).text())
            });
            $.post("{:U('TaskInfo/taskNumber')}",{pro_num_id:pro_num_id,result:result,number:number},function(res) {
                if(res.err==1) {
                    location.href = "/TaskInfo/index";
                }
            });


        }

    </script>
</body>

</html>